@import "./assets/styles/variables.css";
@import "./assets/styles/base.css";
@import "./assets/styles/buttons.css";
@import "./assets/styles/cards.css";
@import "./assets/styles/modals.css";
@import "./assets/styles/animations.css";